.addCarForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
  
    & h2 {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      font-family: "Poetsen One", sans-serif;
    }
  }
  
  .color {
    width: 100px;
    height: 50px;
  }
  
